.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Ruda', sans-serif;
}


.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_logo {
   margin: 1.5rem 0;font-family: 'Ruda', sans-serif;
}


.pragmatic_footer_button {
    margin-top:1.5rem;
}



.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem ;
    object-fit: cover;
}
/*object_fit 하면 사진 왜곡다는게 비율에 맞춰서 됨..*/


.NNS_B {
    font-family: "NanumSquareB", cursive;
}